:root {
    /*  Primary Colors  */
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);

    /* font-family: */
    --Josefin-sans: 'Josefin Sans', sans-serif;
    --Alata: 'Alata', sans-serif;

    /*  Margin mobile    */
    --margin-mobile-1: 0 2rem 0 2rem;
    --margin-mobile-2: 0 4rem 0 4rem;

    /*  Margin desktop   */
    --margin-desktop: 0 5rem 0 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    /* font-size: 62.5%;*/
    font-size: 10px;
}


@media (min-width: 400px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 14px;
    }
}


body {
    margin: 0;
    /* min-height: 100vh; */
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 1.5rem;
    font-family: var(--Josefin-sans);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/*      Header     */
.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 3.5rem;
    width: 100%;
    padding: 0 2rem;
}

.header__logo {
    z-index: 3;
}

.header .logo__img {
    display: block;
    width: 12rem;
}

.button__hamburger {
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 3;
}

.nav {
    position: absolute;
}

.navbar {
    display: none;
}

.nav.nav-mobile-active {
    width: 100vw;
    height: 100vh;
    background-color: var(--Black);
    margin-top: -3.5rem;
    margin-left: -2rem;
    z-index: 2;
}

.nav.nav-mobile-active > .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 2rem;
}

.nav.nav-mobile-active > .navbar .navbar__item {
    padding: 1rem 0;
}

.nav.nav-mobile-active > .navbar .navbar__link {
    text-transform: uppercase;
    font-size: 2.5rem;
}

/*          HERO        */
.hero {
    position: relative;
}

.hero__img {
    width: 100%;
}

.hero__h1 {
    position: absolute;
    top: 34.5%;
    border: 2px solid var(--White);
    margin: var(--margin-mobile-1);
    padding: 2rem;
    font-size: 3.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--White);
    max-width: 430px;
}
/*      MAIN         */
.main {
    padding: 8rem 2rem;
}

.description__img {
    width: 100%;
    display: block;
}

.description__content {
    text-align: center;
    padding: 2rem 0;
}

.description__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.9rem;
}

.description__text {
    font-family: var(--Alata);
    color: var(--Dark-Gray);
    font-size: 1.4rem;
    line-height: 1.7;
}

/*      CREATIONS       */
.creations {
    padding-top: 2rem;
    text-align: center;
}

.creations__title {
    margin-bottom: 4rem;
    font-size: 2.8rem;
    font-weight: 400;
    text-transform: uppercase;
}

.creations__button {
    background-color: var(--White);
    border: 1px solid var(--Very-Dark-Gray);
    padding: .9rem 3.7rem;
    margin-top: 1.5rem;
    font-family: var(--Alata);
    font-size: 1.3rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.creations__button:hover {
    background-color: var(--Black);
    color: var(--White);
    border-color: var(--Black);
}

.desktop {
    display: none;
}

.creation__container {
    margin-bottom: 2rem;
    position: relative;
}

.creation__overlay {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg, rgb(0 0 0 / 67%), transparent)
}

.creation__title {
    text-transform: uppercase;
    text-align: left;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 0 1.6rem 1.6rem;
    color: white;
} 

.creation__img {
    width: 100%;
    display: block;
}

/*   1    FOOTER        */
.footer {
    padding: 4rem 0;
    background-color: var(--Black);
    text-align: center;
}

.footer__img {
    width: 12rem;
}

.footer-nav {
    padding: 3rem 0;
}

.footer-nav__item {
    margin-bottom: 1.8rem;
}

.footer-nav__link {
    text-transform: capitalize;
    
}

.container__social {
    margin-bottom: 1.5rem;
}

.social__link {
    margin: 0 .5rem;
}

.footer__rights {
    color: var(--Dark-Gray);
    font-weight: 600;
    margin: 0;
}

/* MEDIA QUERI 600PX galeria de imagenes */
@media (min-width: 600px) {
    .creations__content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

@media (min-width: 750px) {
    .header {
        padding: 0 4rem;
    }

    .button__hamburger {
        display: none;
    }

    .nav {
        position: initial;
        z-index: 3;
        display: flex;
    }

    .navbar {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .navbar__link::after {
        content: "";
        background-color: transparent;
        display: block;
        width: 30px;
        height: 2px;
        margin: 6px auto 0 auto;
    }
    
    .navbar__link:hover::after {
        background-color: white;
    }

    .hero__h1 {
        margin: 0;
        left: 4rem;
    }

    .main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .creations {
        padding-top: 4rem;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .creations-header {
        display: flex;
        justify-content: space-between;
    }

    .creations__button.desktop {
        height: 3.5rem;
        margin-top: 2rem;
    }
}

@media (min-width: 980px) {
    .header {
        padding: 0 5rem;
    }

    .hero__h1 {
        left: 5rem;
    }

    .main {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .creations {
        padding-top: 5rem;
    }

    .creations__content {
        justify-content: space-between;
    }
    
    .footer {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (min-width: 1020px) {
    .header {
        padding: 0 8rem;
    }

    .navbar {
        gap: 1.5rem;
    }

    .hero__h1 {
        left: 8rem;
    }

    .main {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .description {
        display: flex;
        position: relative;
    }

    .description__container-img {
        width: 66.66%;
    }

    .description__content {
        padding: 4rem 0 0 4rem;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 48%;
        background-color: white;
        text-align: left;
    }

    .description__title {
        font-size: 2rem;
        margin-top: 0;
    }

    .description__text {
        font-size: .8rem;
        margin: 0;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 2rem 8rem 2rem 8rem;
    }

    .footer-container-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }

    .footer-nav > ul {
        display: flex;
        gap: 1rem;
    }

    .footer-container-2 {
        text-align: right;
    }

    .footer-nav {
        padding: 0;
    }

    .footer-nav__item {
        margin-bottom: 0;;
    }
}

@media (min-width: 1120px) {
    .header {
        padding: 0 10rem;
    }

    .hero__h1 {
        left: 10rem;
        max-width: 45%;
        font-size: 4rem;
    }

    .main {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .footer {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .footer-nav > ul {
        gap: 1.5rem;
    }
}

@media (min-width: 1330px) {
    .hero__h1 {
        font-size: 5rem;
    }

    .description__content {
        padding: 6rem 0 0 6rem;
    }

    .description__title {
        font-size: 2.6rem;
    }

    .description__text {
        font-size: 1rem;
    }
}

@media (min-width: 1390px) {
    .header {
        padding: 0 12rem;
    }

    .main {
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .hero__h1 {
        font-size:5.5rem;
        left: 12rem;
    }

    .description__text {
        font-size: 1.1rem;
    }

    .footer {
        padding-left: 12rem;
        padding-right: 12rem;
    }
}